<table>
  <thead>
    <tr>
      <th>Event Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |po| %>
      <tr>
        <td><%= po.title %></td>
        <td><%= link_to 'Show', po, class:"btn btn-primary" %></td>
        <td><%= link_to 'Delete', remove_post_path(po.id), method: :post, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>