<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><h3>There has been an update for the event <%= @post.title %>, that you have signed up for!</h3></p>
    <p><%= @update.body %></p>
  </body>
</html>