@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Open+Sans|Roboto');

/*
 *= require bootstrap
 *= require daterangepicker-bs3
 *= require formtastic
 *= require my_formtastic_changes
 *= require social-share-button
 */
 
 a:hover {
   color: #4286f4;
 }
 
#error_explanation {
  color: white;
}
 
#notice {
  padding-left: 10px;
  color:white;
  margin-bottom: 0;
}

#alert {
  margin-bottom: 0;
}

//navbar

.navbar-default {
  background-color: #070109;
  border-color: #55a3e1;
  border:none;
}

.navbar-default .navbar-header {
  font-family: 'Lato', 'Open Sans',sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.navbar-default .navbar-brand {
  color: #cfd6d8;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fbf8ff;
  background-color: #003399;
}
.navbar-default .navbar-text {
  color: #cfd6d8;
}
.navbar-default .navbar-nav > li > a {
  font-family: 'Lato', 'Open Sans',sans-serif;
  font-size: 1em;
  color: #cfd6d8;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fbf8ff;
  background-color: #55a3e1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fbf8ff;
  background-color: #55a3e1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fbf8ff;
  background-color: #55a3e1;
}
.navbar-default .navbar-toggle {
  border-color: #55a3e1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #55a3e1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cfd6d8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cfd6d8;
}
.navbar-default .navbar-link {
  color: #cfd6d8;
}
.navbar-default .navbar-link:hover {
  color: #fbf8ff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #cfd6d8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fbf8ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fbf8ff;
    background-color: #55a3e1;
  }
}


select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 50%;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}
