@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Open+Sans|Roboto');

/*
 *= require bootstrap
 *= require daterangepicker-bs3
 *= require formtastic
 *= require my_formtastic_changes
 *= require social-share-button
 */
 
 a:hover {
   color: #4286f4;
 }
 
#error_explanation {
  color: white;
}
 
#notice {
  padding-left: 10px;
  color: black;
  margin-bottom: 0;
}

#alert {
  margin-bottom: 0;
}

//navbar

.navbar-default {
  // background-color: <li><a href='#'>Home</a></li>;
  background-color: #F5F5F5;
  // border-color: #55a3e1;
  border-radius: 0;
  border: none;
}

.navbar-default .navbar-header {
  font-family: 'Lato', 'Open Sans',sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.navbar-default .navbar-brand {
  color: #007399;
  font-size: 1em;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  // color: #fbf8ff;
  color: #007399;
  
  border-radius: 5px;
  border-bottom: medium solid #007399;
  border-top: medium solid transparent;
  border-left: medium solid transparent;
  border-right: medium solid transparent;
  background-color: white;
  height: 100%;
}
.navbar-default .navbar-text {
  color: black;
}
.navbar-default .navbar-nav > li > a {
  font-family: 'Lato', 'Open Sans',sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  
  border-style: solid;
  border-radius: 5px;
  border-bottom: medium solid #808080;
  border-top: medium solid transparent;
  border-left: medium solid transparent;
  border-right: medium solid transparent;
  
  color: black;
  background-color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #55a3e1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #55a3e1;
}
.navbar-default .navbar-toggle {
  border-color: #55a3e1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #55a3e1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cfd6d8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cfd6d8;
}
.navbar-default .navbar-link {
  color: #cfd6d8;
}
.navbar-default .navbar-link:hover {
  color: #fbf8ff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #cfd6d8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fbf8ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fbf8ff;
    background-color: #55a3e1;
  }
}


select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 50%;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

.darkbluebutton {
    // background-color: #008CBA;
    // background-color: #0099cc;
    background-color: #008fb3;
    border: none;
    color: white;
    width: 40%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
    .darkbluebutton:hover {
    color: white;
  }
}

.slick-prev .slick-arrow {
  background-color: black;
}

.greybutton {
    background-color: #808080;
    border: none;
    color: white;
    width: 8%;
    padding: 7px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: 'Merriweather Sans', sans-serif;
    .greybutton:hover {
    color: white;
  }
}


.btn-default {
  background-color: #808080 !important;
  color: white !important;
  
}

.btn-default:hover {
  background-color: #A8A8A8 !important;
}